 textarea.code.form-control {
    height: 200px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}

input[type='text'], select.form-control {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 16px;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading.accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading.accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading:hover h3 {
    text-decoration: underline;
}

#share {
    color: #ccaaff;
}

#share:hover {
    color: #eeccff;
}

.glyphicon-remove {
    color: darkred;
    opacity: 0.5;
}

.glyphicon-remove:hover {
    opacity: 1;
    cursor: pointer;
}