<template name='domainForm'>
    <div class="panel panel-default">
        <div id='domainTab' class="panel-heading accordion-toggle" role='tab' data-toggle='collapse' data-target='#domainPanel' data-parent='#accordion'>
            <h3 class="panel-title">Domain</h3>
        </div>
        <div id='domainPanel' class='panel-collapse collapse editor' role='tabpanel' aria-labelledby='domainTab'>
            <div class="panel-body">
                <form>
                    <div class='form-group'>
                        <label>Select an existing Domain</label>
                        <select id='ctrlDomain' class='form-control'>
                            <option>&lt;Create your own&gt;</option>
                            {{ #each domains }}
                                <option>{{ name }}</option>
                            {{ /each }}
                        </select>
                    </div>

                    <div class='form-group'>
                        <label>Name</label>
                        <input type='text' id='txtDomainName' class='form-control' placeholder='Domain name' />
                    </div>
                    <div class='form-group'>
                        <label>Code</label>
                        <textarea id='txtDomainCode' class='code form-control' contenteditable='true' placeholder='Code'></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>