<template name='layout'>
    <body>
        <form data-toggle='validator'>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">STRIPS-Fiddle</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="menu"><a href="/">Home</a></li>
                <li class='menu'><a href="/about">About</a></li>
                <li class='menu'><a href="/contact">Contact</a></li>
                <li class='controls'>
                    <button id='btnRun' type="button" class="btn btn-success" style='margin: 8px 0 0 10px;'>
                        <span class="glyphicon glyphicon-play" aria-hidden="true" style='margin-right: 3px;'></span> Run
                    </button>
                </li>
                <li class='controls'>
                    <button id='btnSave' type="submit" class="btn btn-default" style='margin: 8px 0 0 10px;'>
                        Save
                    </button>
                </li>
                <li class='controls'>
                    <a id='share' href='#' target='_blank' style='display: none;'>
                        <span class='glyphicon glyphicon-share' aria-hidden="true" style='margin-right: 3px;'></span> Share
                    </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
              </ul>
            </div>
          </div>
        </nav>

        <div class='container' style='margin-top: 60px;'>
            {{> yield}}
    
            <hr>
            
            <footer>
                <p>Copyright &copy; Kory Becker 2015</p>
            </footer>
        </div>
        </form>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </body>
</template>